@import "font-awesome";
@import "bootstrap";
@import "compass";

$base-color: #ecf0f1;
$main-color: #34495e;
$accent-color: #e74c3c;
$base-text-color: darken($base-color, 60%);
$text-color-light: darken($base-color, 30%);
$line-color: darken($base-color, 10%);

body {
  color: $base-text-color;
  background-image: image-url("bg.png");
}

header {
  background-color: $base-color;
}

.note {
  width: 100%;
  max-width: 650px;
  margin: 1em 0 2em 0;
  padding: 0; 
  background-color: $base-color;
  border-radius: 5px;
  @include box-shadow($base-text-color 2px 2px 10px);

  .note__header {
    padding: 1em;
    border-radius: 5px 5px 0 0;
    background-color: $main-color;
  }

  .note__body {
    padding: 1em;
    border-radius: 0 0 5px 5px;
    background-color: $base-color;
  }

  .room_id {
    color: $base-color;
    font-weight: bold;
  }

  .note_id {
    color: $base-color;
    font-weight: bold;
  }

  .note_title {
    margin: 0;
    padding: 0;
    color: $base-color;
    font-size: 120%;
  }
}

.post {
  .post-picture {
    padding-bottom: 1em;
    border-bottom: solid 1px $line-color;
  }

  .post-body {
    padding-top: 1em;
    
    .post-body__author {
      .author {
        font-weight: bold;
      }
    }

    .post-body__context {

    }

    .post-body__published {
      color: $text-color-light;
    }
  }
}

footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid darken($base-color, 50%); 
}


