@import "font-awesome";
@import "bootstrap";
@import "compass";

$base-color: #ecf0f1;
$main-color: #34495e;
$accent-color: #e74c3c;
$base-text-color: darken($base-color, 40%);

body {
  color: $base-text-color;
  background-image: image-url("bg.png");
}

header {
  background-color: $base-color;
}

.note {
  margin: 1em 0 2em 0;
  padding: 0; 
  background-color: $base-color;
  border-radius: 5px;
  @include box-shadow($base-text-color 2px 2px 10px);

  .note__header {
    padding: 1em;
    border-radius: 5px 5px 0 0;
    background-color: $main-color;
  }

  .note__body {
    padding: 1em;
    border-radius: 0 0 5px 5px;
    background-color: $base-color;
  }

  .room_id {
    color: $base-color;
    font-weight: bold;
  }

  .note_id {
    color: $base-color;
    font-weight: bold;
  }

  .note_title {
    margin: 0;
    padding: 0;
    color: $base-color;
    font-size: 120%;
  }
}

footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid darken($base-color, 50%); 
}


